basemap==1.1.0
cycler==0.9.0
funcsigs==0.4
matplotlib==1.4.3
mock==2.0.0
nose==1.3.7
numpy==1.16.1
pbr==5.1.2
pudb==2018.1
pyephem==3.7.6.0
Pygments==2.3.1
pyparsing==2.0.5
pyproj==1.9.6
PySide==1.2.4
python-dateutil==2.4.2
pytz==2015.7
requests==2.20.0
six==1.10.0
urwid==2.0.1
